<% form_for @training, :url => url, :html => { :class => :default } do |f| %>
	<%= f.error_messages %>	
	
	<div>
		<%= f.label "Zeit" %>
		<%= f.datetime_select :date %>
	</div>
	
	<div>
		<%= f.label "Ort" %>
		<%= f.collection_select(:location_id, Rink.all, :id, :name, {:promt => "Select a location"}) %>
	</div>
	
	<div>
		<%= f.label "Notiz" %>
		<%= f.text_area :note %>
	</div>
	
	<div>
		<%= f.submit label %>
	</div>
<% end %>

<%= render :partial => "scripts/tinymce_init" %>