<h1>Statistiken Saison <%= @season.to_s %></h1>

<div>
	Auf dieser Seite werden die Statistiken der Gletscherspalter der jeweiligen Saison angezeigt. Nach den Team Statistiken, folgen die individuellen Werte der Spieler.
</div>

<div style="margin-top: 10px;">
	
	<h2>Team Statistiken</h2>
	
	<div style="float: left; width: 50%">
	<% uri =  Gchart.pie_3d( :size => '360x110', 
								:bg => 'ffffff',
							 	:bar_colors => ['be0400', 'ffcf32', '232e99'],
	             	:labels => [
									"Siege (#{@game_stats[0]})", 
									"Niederlagen (#{@game_stats[1]})", 
									"Unentschieden (#{@game_stats[2]})"
								],
	              :data => @game_stats)
	%>
	
	<%= image_tag(uri)%>
	</div>
	
	<div style = "width: 50%; float:right;">
		<%= image_tag(Gchart.pie_3d( :size => '360x110',
									:bar_colors => ['be0400', '232e99'],
									:labels => [
										"Tore (#{@goals})", "Gegentore (#{@goals_against})"],
									:data => [@goals, @goals_against]
		)) %>
	</div>
	
	<div class="clear">
	</div>

</div>

<div style="margin-top: 10px;">
	<h2>Spieler Statistiken</h2>
	
	<% if @scorer_names.empty? %>
		Zurzeit sind keine Spieler Statistiken erfasst.
	<% else %>
	
	<% width = ((350 - (4 * @scorer_names.size * 2)) / (@scorer_names.size * 2))
	url = Gchart.bar( :size => "700x428",
										:orientation => 'horizontal',
	 									:title => "Skorerpunkte",
										:title_size => 16,
										:data => @score_stats,
										:bar_colors => ['be0400','33d200'],
										:stacked => false,
										:labels => ["Tore", "Assists"],
										:bar_width_and_spacing => width)
		# adding player names as bar labels
		url += "&chxt=x,y&chxl=1:|#{@scorer_names.reverse.join('|')}|"
		# adjusting the range at y axis
		url += "&chxr=0,0,#{@max_value},1"
		

	%>

	
	<%= image_tag(url) %>
	<% end %>
</div>

<% content_for :sub_menu do %>
	<li class="side_bar"><%= link_to "Andere Saisons", seasons_path %></li>
<% end %>
