<% content_for :javascripts do %>
	<%= javascript_include_tag "table_sorter" %>
<% end %>

<% cache do %>
<h1>Statistiken Saison <%= @season.to_s %></h1>

<div>
  Auf dieser Seite werden die Statistiken der Gletscherspalter der jeweiligen Saison angezeigt. Nach den Team Statistiken, folgen die individuellen Werte der Spieler.
  Die Tabellen sind mit einem Klick auf eine Spalte auf- oder absteigend sortierbar.
</div>

<% if @season.games_played.size > 0 %>
<div style="margin-top: 10px;">

	<h2>Team Statistiken</h2>
	
	<div style="float: left; width: 50%">
	<% uri =  Gchart.pie_3d( :size => '360x110', 
								:bg => 'ffffff',
							 	:bar_colors => ['42ba46','be0400', 'ffcf32' ],
	             	:labels => [
									"Siege (#{@game_stats[0]})", 
									"Niederlagen (#{@game_stats[1]})", 
									"Unentschieden (#{@game_stats[2]})"
								],
	              :data => @game_stats)
	%>
	
	<%= image_tag(uri)%>
	</div>
	
	<div style = "width: 50%; float:right;">
		<%= image_tag(Gchart.pie_3d( :size => '360x110',
									:bar_colors => ['42ba46','be0400'],
									:labels => [
										"Tore (#{@goals})", "Gegentore (#{@goals_against})"],
									:data => [@goals, @goals_against]
		)) %>
	</div>
	
	<div class="clear"></div>

</div>

<div>
	<h2>Spieler Statistiken</h2>

  <% unless @players.empty?  %>
  <div style="margin-top: 10px">
    <table class="stats_table">
      <thead>
        <tr>
          <th>Spieler</th>
          <th># Spiele</th>
          <th># Siege</th>
          <th># Niederlagen</th>
          <th>Tore</th>
          <th>Assists</th>
          <th>Punkte</th>
          <th><abbr title="Points per Game">PPG</abbr></th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |p| %>
          <tr>
            <td><%= "#{p.name}" %></td>
            <td><%= "#{p.games_played(@season).size}" %></td>
            <td><%= "#{p.wins(@season)}" %></td>
            <td><%= p.defeats(@season) %></td>
            <td><%= p.goals(@season) %></td>
            <td><%= p.assists(@season) %></td>
            <td><%= p.points(@season) %></td>
            <td><%= p.points_per_game(@season) %></td>
          </tr>
        <% end  %>
      </tbody>
    </table>
  </div>
  <% end %>

  <% unless @goalies.empty? %>
  <div style="margin-top: 20px">
    <table class="stats_table">
      <thead>
        <tr>
          <th>Goalie</th>
          <th># Spiele</th>
          <th># Siege</th>
          <th># Niederlagen</th>
          <th>Gegentore</th>
          <th><abbr title="Goal against Average">GAA</abbr></th>
        </tr>
      </thead>
      <tbody>
        <% @goalies.each do |g|  %>
        <tr>
          <td><%= g.name %></td>
          <td><%= g.games_played(@season).size %></td>
          <td><%= g.wins(@season) %></td>
          <td><%= g.defeats(@season) %></td>
          <td><%= g.goals_against(@season) %></td>
          <td><%= g.goal_against_average(@season) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% end %>

</div>

<script type="text/javascript">
  $$('table').each(function(table) {
    sorttable.makeSortable(table);
  });
</script>

<% else %>

	<div style="margin-top: 10px;">

	In dieser Saison wurden noch keine Spiele ausgetragen.

	</div>
<% end %>


<% end %>
<% content_for :sub_menu do %>
	<li class="side_bar"><%= link_to "Andere Saisons", seasons_path(:statistics => "1") %></li>
<% end %>