<% include_tinymce %>
<h1>Nachricht verfassen</h1>

<div style="margin-top: 10px;">
	<%= form_for [@message], :url => {:action => "create"},:html => {:class => :default, :onsubmit => "Glacier.Selector.addUserIds()"} do |f| %>
	<input id="users" name="users" type="hidden" value="" />
	<%= f.error_messages %>

	
	<div>
		<%= label_tag "Empfänger" %>
		<%= radio_button_tag :recipients, "all", true, { :onclick => "$('choose_users').hide(); $('selected_users').hide();" }  %> alle
		<%= radio_button_tag :recipients, "active", false, { :onclick => "$('choose_users').hide(); $('selected_users').hide();" } %> aktive
		<%= radio_button_tag :recipients, "passive", false, { :onclick => "$('choose_users').hide(); $('selected_users').hide();" } %> passive
		<%= radio_button_tag :recipients, "select", false, { :onclick => "$('choose_users').show(); $('selected_users').show();"} %> auswählen
	</div>
	
	<div id="choose_users" style="display: none;">
		<%= label_tag "Eingabe:" %>
		<%= text_field_tag "usr_name", nil, :class => 'editUserNames' %>
		<div id="usr_choices" class="autocomplete"></div>
	</div>
	
	<div id="selected_users">
		<ul id="usrs_list"></ul>
	</div>
	
	<div>
		<%= f.label "Betreff" %>
		<%= text_field_tag "message[subject]", @message.subject %>
	</div>
	
	<div>
		<%= f.label "Nachricht" %>
		<%= text_area_tag "message[text]", @message.text %>
	</div>

	<div>
		<%= f.submit "Abschicken" %>
	</div>

	<% end %>
</div>

<script type="text/javascript" charset="utf-8">
	
	<%= render :partial => "scripts/tinymce_init", :locals => { :with_script_tags => false } %>
	
	new Glacier.Selector("usr");
</script>

<% content_for :sub_menu do %>
	<% if permitted_to? :read, :messages %>
	<li class="side_bar"><%= link_to "Zurück", messages_path %></li>
	<% end %>
<% end %>

