<% if logged_in? %>
<div style="margin-top:">
	<h2>Kommentare</h2>
	
	<div>
		<% if @comments.size > 0 %>
		
		<% @comments.each do |c| %>
			<div class="comment">
				<div class="user-comment-thumbnail">
					<%= link_to user_profile_pic(c.user) , player_path(c.user.player) %>
				</div>

				<div class="user-comment">
					<div class="user-comment-heading">
					<%= link_to "#{c.user}", c.user.player %>
					<% if user_is_admin? %>
					<span class="manipulation-icons">
						<%= link_to_function image_tag('icons/pencil.png'), "Glacier.Popup.init('#{edit_comment_path(c)}.ajax', { width: 615})" %>
						<%= link_to(image_tag('icons/delete.png'), c, :confirm => 'Möchten sie diesen Kommentar wirklich löschen?', :method => :delete) %>
					</span>
					<% end %>
					<span class="comment-timestamp">(<%= l(c.created_at, :format => :default) %>)</span>
					</div>
					<%=h c.comment %>
				</div>
				
				
			</div>
		<% end %>
		
		<% else %>
			<div style="margin-bottom: 10px;">
				Zur Zeit gibt es zu diesem Ereignis keine Kommentare.
			</div>
		<% end %>
		
		<div class="comment-input">
			<% form_for @comment, :url => add_comment_event_path do |f| %>
			<%= f.text_area :comment %>
			
			<div class="comment-submit">
				<%= f.submit "Kommentieren" %>
			</div>
			<% end %>
		</div>
		
	</div>
	
</div>
<% end %>
