<h1>Eisfeld Daten anpassen</h1>

<% form_for [@rink], :html => {:class => :default}  do |f| %>
  <%= f.error_messages %>
	<%= error_messages_for :address %>

  <div>
    <%= f.label "Name" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= label_tag "Strasse" %>
    <%= text_field_tag "address[street]",@rink.address.street ,:size => 30 %>
  </div>

  <div>
    <%= label_tag "Nummer" %>
    <%= text_field_tag "address[number]", @rink.address.number, :size => 30 %>
  </div>

  <div>
    <%= label_tag "Stadt" %>
    <%= text_field_tag "address[city]", @rink.address.city, :size => 30 %>
  </div>

  <div>
    <%= label_tag "Postleitzahl" %>
    <%= text_field_tag "address[zip]", @rink.address.zip, :size => 30 %>
  </div>

  <div>
    <%= f.label "Eisfeld"%>
    <%= f.check_box :type, { :checked => @rink.is_a?(Rink) ? true : false }, :rink, :location %>
  </div>
  <div>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div>
    <%= f.submit "Anpassen" %>
  </div>
<% end %>

<%= link_to 'Zur&uuml;ck', locations_path %>
