<h1>Thread anpassen</h1>

<% form_for [@topic], :html => {:class => :default} do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label "Titel" %>
    <%= f.text_field h(:title) %>
  </div>

  <div>
    <%= f.submit "Anpassen" %>
  </div>
<% end %>

<% content_for :sub_menu do %>
	<% if permitted_to? :create_posts, :posts %>
		<li class="side_bar"><%= link_to 'Zurück', topics_path %></li>
	<% end %>
<% end %>
