<h1>Thread anpassen</h1>

<% form_for [@topic], :html => {:class => :default} do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label "Titel" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.submit "Anpassen" %>
  </div>
<% end %>

<%= link_to 'Zurück', topics_path %>
