<h1>Neuen Thread erstellen</h1>

<% form_for [@topic], :html => { :class => :default } do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label "Titel" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.submit "Erstellen" %>
  </div>
<% end %>

<div class="links">
	<%= link_to 'Zurück', topics_path %>
</div>