<h1><%= @topic.title %></h1>

<div style="margin-top: 10px;">
	
	<% if @posts.empty? %>
		Zu diesem Thread gibt es noch keine Kommentarte.

	<% else %>
	<div>
	  <table class="forum">

		<thead>
			<tr>
				<th width="20%">Author</th>
				<th width="55%">Nachricht</th>
				<th width="15%">Datum</th>
				<th width="10%">Aktion</th>
			</tr>
		</thead>

		<tbody>
	  <% for post in @posts %>
	    <tr class="<%= cycle('odd-line', 'even-line') %>">
		   	<td class="author"><%=h post.user.full_name %></td>
		   	<td style="font-size: 14px;"><%=sanitize post.content %></td>
				<td class="date"><%= l(post.updated_at ? post.updated_at : post.created_at, :format => :default_2) %></td>
				<td>
					<% if permitted_to? :update_posts, post %>
						<%= link_to image_tag("/images/icons/pencil.png", :border => 0), edit_topic_post_path(:topic_id => @topic.id, :id => post.id) %>
						<%= link_to image_tag("/images/icons/delete.png", :border => 0), topic_post_path(:topic_id => @topic.id, :id => post.id), :confirm => "Möchten sie diesen Kommentar wirklich löschen?", :method => :delete %>
					<% end %>
				</td>
	    </tr>
	  <% end %>
		</tbody>
	  </table>
		
		<div style="margin-top: 5px;">
			<hr/>
			<%= will_paginate @posts %>
			<hr/>
		</div>
		
	</div>
	<% end %>

	<div style="margin-top: 5px;">
		<% if permitted_to? :create_posts, :posts %>
		<%= link_to 'Kommentar hinzufügen', new_topic_post_path(@topic) %>
		<% end %>
	</div>
	
</div>

<div class="links">
	<%= link_to 'Zurück', topics_path %>
</div>


