<% include_tinymce %>
<h1><%= @topic.title %></h1>

<div>
	
	<% if @posts.empty? %>
		Zu diesem Thread gibt es noch keine Kommentarte.

	<% else %>
	<div>
	  <table class="forum">

		<thead>
			<tr>
				<th width="20%">Autor</th>
				<th width="55%">Nachricht</th>
				<th width="15%">Datum</th>
				<th width="10%">Aktion</th>
			</tr>
		</thead>

		<tbody>
	  <% for post in @posts %>
	    <tr class="<%= cycle('odd-line', 'even-line') %>">
		   	<td class="author">
              <span style="text-decoration: underline;"><%=link_to post.user.full_name, player_path(post.user.player) %></span>
              <div style="margin: 2px 0 0 5px;">
                <%= link_to user_profile_pic(post.user) , player_path(post.user.player) %>
              </div>
            </td>
		   	<td style="font-size: 14px;"><%=sanitize post.content %></td>
				<td class="date"><%= l(post.updated_at ? post.updated_at : post.created_at, :format => :default_2) %></td>
				<td>
					<% if permitted_to? :update_posts, post %>
						<%= link_to_function image_tag("/images/icons/pencil.png", :border => 0), "Glacier.Popup.init('" + edit_topic_post_path(:topic_id => @topic.id, :id => post.id) + ".ajax', {width: 700})" %>
						<%= link_to image_tag("/images/icons/delete.png", :border => 0), topic_post_path(:topic_id => @topic.id, :id => post.id), :confirm => "Möchten sie diesen Kommentar wirklich löschen?", :method => :delete %>
					<% end %>
				</td>
	    </tr>
	  <% end %>
		</tbody>
	  </table>
		
		<div style="margin-top: 5px;">
			<hr/>
			<%= will_paginate @posts %>
			<hr/>
		</div>
		
	</div>
	<% end %>
	
</div>

<% content_for :sub_menu do %>
	<% if permitted_to? :create_posts, :posts %>
		<li class="side_bar"><%= link_to_function 'Kommentar hinzufügen', "Glacier.Popup.init('" + new_topic_post_path(@topic) + ".ajax', {width: 700})" %></li>
	<% end %>
	<% if permitted_to? :create_posts, :posts %>
		<li class="side_bar"><%= link_to 'Zurück', topics_path %></li>
	<% end %>
<% end %>


