<h1><%= @topic.title %></h1>

<% if @topic.posts.empty? %>
	Zu diesem Thread gibt es noch keine Kommentarte.
	
<% else %>
<div>
  <table class="forum-table">

  <% for post in @topic.posts %>

    <tr class="forum-author">
	   <td>
		    <%= post.user.full_name %>
	   </td>
    </tr>

    <tr>
	   <td class="forum-content">
		    <%= post.content %>
	   </td>
    </tr>

  <% end %>
  
  </table>

</div>
<% end %>

<div>
	<% if permitted_to? :create_posts, :posts %>
	<%= link_to 'Kommentar hinzufügen', new_topic_post_path(@topic) %>
	<% end %>
</div>

<div class="links">
	<%= link_to 'Zurück', topics_path %>
</div>


