<h1>Skore anpassen</h1>

<% form_for [@game, @score], :url => {:action => "update"}, :html => {:class => :default} do |f| %>
	<%= f.error_messages %>
	<div>
		<%= f.label "Spieler" %>
		<%= f.text_field :player, :value => @score.player ? h(@score.player.name) : nil %>
		<div id="user_choices" class="autocomplete"></div>
	</div>
	
	<div>
		<%= f.label "Tore" %>
		<%= f.text_field h(:goals) %>
	</div>
	
	<div>
		<%= f.label "Assists" %>
		<%= f.text_field h(:assists) %>
	</div>
	
	<div>
		<%= f.submit "Speichern" %>
	</div>

<% end %>

<script type="text/javascript" charset="utf-8">
	new Ajax.Autocompleter('score_player', 'user_choices', '/users.ajax', {
		method: 'get'
	});
</script>

<% content_for :sub_menu do %>
	<li class="side_bar"><%= link_to "Zurück", game_path(@game) %></li>
<% end %>