<h1>Benutzer Editieren</h1>

<% form_for [@user], :html => { :class => :default } do |f| %>
  <%= f.error_messages %>

  <div>
	<%= f.label "Benutzername" %>
	<%= f.text_field :user_name %>
  </div>

  <div>
	<%= f.label "Vorname" %>
	<%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label "Nachname" %>
    <%= f.text_field :name %>
  </div>

  <div>
	<%= f.label "E-Mail" %>
	<%= f.text_field :email %>
  </div>

  <div>
    <%= f.submit "Anpassen" %>
  </div>
<% end %>

<%= link_to 'Zurück', users_path %>
