<h1>Registrierte Mitglieder</h1>

<div style="margin-top: 10px;">
<table class="default">
  <tr class="smaller">
		<th>Name</th>
		<th>Adresse</th>
		<th>Ort</th>
		<th>Mobile</th>
		<th>Email</th>
		<th>&nbsp;</th>
  </tr>

<% for user in @users %>
  <tr class="smaller">
		<td><%=h user.name %></td>
		<td><%=h user.address %></td>
		<td><%=h user.location %></td>
		<td><%=h user.mobile %></td>
		<td><%=h user.email %></td>
		<td>    
			<% if permitted_to? :manage, user %>
	    	<%= link_to image_tag('icons/pencil.png', :border => 0), edit_user_path(user) %>
			  <%= link_to image_tag('icons/delete.png', :border => 0), user, :confirm => "Möchten sie den Benutzer #{user.full_name} wirklich löschen?", :method => :delete %>
			<% end %>
		</td>
	</tr>
<% end %>
</table>
</div>

<% content_for :sub_menu do %>
	<% if permitted_to? :read, :users %>
	<li class="side_bar"><%= link_to "Liste als PDF", users_path(:format => "pdf") %></li>
    <% end %>
    <% if permitted_to? :manage, :users %>
	<li class="side_bar"><%= link_to 'Benutzer erstellen', new_user_path %></li>
	<% end %>
<% end %>
