<h1>Registrierte Benutzer</h1>

<table class="default">
  <tr>
		<th>Vorname</th>
    <th>Nachname</th>
		<th>Email</th>
		<th>&nbsp;</th>
  </tr>

<% for user in @users %>
  <tr>
		<td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
		<td><%= user.email %></td>
    <% if permitted_to? :manage, user %>
	    <td>
			  <%= link_to image_tag('icons/pencil.png', :border => 0), edit_user_path(user) %>
			  <%= link_to image_tag('icons/delete.png', :border => 0), user, :confirm => "Möchten sie den Benutzer #{user.login} wirklich löschen?", :method => :delete %>
			</td>
		<% end %>
	</tr>
<% end %>
</table>

<div class="links">
	<% if permitted_to? :manage, :users %>
	<%= link_to 'Neuen Benutzer erstellen', new_user_path %>
	<% end %>
</div>