<h1>Registrierte Benutzer
<%= link_to image_tag("icons/page_white_acrobat.png"), users_path(:format => "pdf") %>
</h1>

<div style="margin-top: 10px;">
<table class="default">
  <tr class="smaller">
		<th>Name</th>
		<th>Adresse</th>
		<th>Ort</th>
		<th>Telefon</th>
		<th>Mobile</th>
		<th>Email</th>
		<th>&nbsp;</th>
  </tr>

<% for user in @users %>
  <tr class="smaller">
		<td><%=h user.name %></td>
		<td><%=h user.address %></td>
		<td><%=h user.location %></td>
		<td><%=h user.phone %></td>
		<td><%=h user.mobile %></td>
		<td><%=h user.email %></td>
		<td>    
			<% if permitted_to? :manage, user %>
	    	<%= link_to image_tag('icons/pencil.png', :border => 0), edit_user_path(user) %>
			  <%= link_to image_tag('icons/delete.png', :border => 0), user, :confirm => "Möchten sie den Benutzer #{user.full_name} wirklich löschen?", :method => :delete %>
			<% end %>
		</td>
	</tr>
<% end %>
</table>
</div>

<div class="links">
	<% if permitted_to? :manage, :users %>
	<%= link_to 'Neuen Benutzer erstellen', new_user_path %>
	<% end %>
</div>