<h1>Benutzer Erstellen</h1>

<% form_for [@user], :html => { :class => :default } do |f| %>
  <%= f.error_messages %>
	
  <div>
	<%= f.label "Vorname" %>
	<%= f.text_field :firstname %>
  </div>

  <div>
    <%= f.label "Nachname" %>
    <%= f.text_field :lastname %>
  </div>

  <div>
    <%= f.label "E-Mail" %>
    <%= f.text_field :email %>
  </div>

	<div>
		<%= f.label "Admin" %>
		<%= f.check_box :is_admin %>
	</div>
	
  <div>
    <%= f.submit "Benutzer hinzufügen", :class => "submit" %>
  </div>
<% end %>

<div class="links">
	<%= link_to "Zurück", users_path %>
</div>

