<p>
  <b>Benutzer Name:</b>
  <%= h @user.user_name %>
</p>

<p>
  <b>Vorname:</b>
  <%= h @user.first_name %>
</p>

<p>
  <b>Nachname:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= h @user.email %>
</p>


<%= link_to 'Bearbeiten', edit_user_path(@user) %> |
<%= link_to 'Zurück', users_path %>
