<table class="default">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Anlass</th>
      <th>Ort</th>
      <th>Anmerkung</th>
			<% if actions %>
				<th>&nbsp;</th>
			<% end %>
    </tr>
  </thead>

  <tbody>
    <% for event in events %>
        <tr>
          <td><%=h event.date_formatted %></td>
          <td><%=h event.title %></td>
          <td><%=h event.location.name %></td>
          <td><%=h event.note %></td>
					<% if actions %>
					<td><%= link_to image_tag('icons/pencil.png', :border => 0) %>
							<%= link_to image_tag('icons/delete.png', :border => 0) %>
					</td>
					<% end %>
        </tr>
    <% end %>
  </tbody>
</table>
