<table class="default">
	<thead>
		<tr>
			<th>Anlass</th>
			<th>Datum</th>
			<th>Ort</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	
	<% for event in @events %>
		<tr>
			<td>
				<%= link_to event.name, :controller => event.controller_name, :action => "show", :id => event.id %>
			</td>
			<td><%= event.date_formatted %></td>
			<td>
				<% if event.is_a?(Game) || event.is_a?(Training) %>
				<%= link_to h(event.locality), location_on_map_path(:id => event.location.id) %>
				<% else %>
				<%= h(event.locality) %>
				<% end %>
			</td>
			<td>
				<%= link_to(image_tag('icons/pencil.png', :border => 0), :controller => event.controller_name, :action => "edit", :id => event.id) %>
		    <%= link_to(image_tag('icons/delete.png', :border => 0), event, :confirm => 'Möchten sie dieses Ereignis wirklich löschen?', :method => :delete) %>
			</td>
		</tr>
	<% end %>
</table>