<%= form_for @event, :url => url, :html => { :class => :default } do |f| %>
<%= render "shared/error_messages", :target => @event %>

  <div>
    <%= f.label "Titel" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label "Beginn" %>
    <%= f.datetime_select :date %>
  </div>

  <div>
    <%= f.label "Ende" %>
    <%= f.datetime_select :end_date %>
  </div>

  <div>
    <%= f.label "Ort" %>
    <%= f.text_field(:locality) %>
  </div>
  <div>
    <%= f.label "Notiz" %>
    <%= f.text_area :note %>
  </div>
  <div>
    <%= f.submit label %>
  </div>
<% end %>

<%= render :partial => "scripts/tinymce_init" %>