<h1>Veranstaltung editieren</h1>

<% form_for [@event], :html => {:class => :default} do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label "Titel" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label "Zeit" %>
    <%= f.datetime_select :date %>
  </div>
  <div>
    <%= f.label "Ort" %>
    <%= f.text_field(:location) %>
  </div>
  <div>
    <%= f.label "Notiz" %>
    <%= f.text_area :note %>
  </div>
  <div>
    <%= f.submit "Anpassen" %>
  </div>
<% end %>

<% content_for :sub_menu do %>
	<% if permitted_to? :read, :events %>
	<li class="side_bar"><%= link_to 'Zurück', events_path %></li>
	<% end %>
<% end %>
