<h1>Anlässe der Saison <%= "#{current_season.to_s}" %></h1>

Auf dieser Seite werden alle Anlässe der Gletscherspalter aufgelistet, die keine Spiele sind. 
Dazu gehören Trainings, Trainingslager oder alle anderen Termine, wie zum Beispiel die jährliche Generalversammlung.
Den Spielplan mit allen Resultaten findest du <%= link_to "hier", games_path %>.

<div style="margin-top: 15px;">
	<% if @events.empty? %>
		Zur Zeit sind keine Anlässe registriert.
	<% else %>
		<%= render :partial => "events_table" %>
		
		<div style="margin-top: 5px;">
		<hr/>
			<%= will_paginate @games %>
		<hr/>
		</div>
	<% end %>
</div>


<% content_for :sub_menu do %>
	<% if permitted_to? :manage, :events %>
		<li class="side_bar"><%= link_to "Training erstellen", new_training_path %></li>
		<li class="side_bar"><%= link_to "Trainingslager erstellen", new_trainingscamp_path %></li>
		<li class="side_bar"><%= link_to "Ereignis erstellen", new_event_path %></li>
	<% end %>
	<li class="side_bar"><%= link_to "Ereignisse als PDF", events_path(:format => "pdf") %></li>
<% end %>