<p>
  <b>Title:</b>
  <%=h @event.title %>
</p>

<p>
  <b>Date:</b>
  <%=h @event.date_formatted %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location %>
</p>

<p>
  <b>Note:</b>
  <%=h @event.note %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
