<h1><%= @event.name %></h1>

<div>
	<table class="facts">
		<tr>
			<td class="key">Beginn:</td>
			<td><%=h @event.date_formatted %></td>
		</tr>
		
		<% if @event.end_date %>
		<tr>
			<td class="key">Ende:</td>
			<td><%=h @event.end_date_formatted %>
		</tr>
		<% end %>
		<tr>
			<td class="key">Ort:</td>
			<td><%=h @event.locality %></td>
		</tr>
	</table>
</div>

<% unless @event.note.empty? %>
	<h3>Anmerkungen</h3>
	
	<%=sanitize @event.note %>
<% end %>

<div style="margin-top: 20px;">
	<h2>Teilnehmer</h2>
	
	<% if !@event.users.empty? %>
		<%= render :partial => "players/roster", 
			:locals => {
				:players => @players,
				:editable => false, 
				:deletable => true,
				:delete_icon => "icons/cross.png",
				:delete_path => "/events/#{@event.id}/remove_player?p_id="
			} %>
	<% else %>
		Für dieses Ereignis haben sich keine Benutzer eingetragen.
	<% end %>
</div>

<% if permitted_to? :manage, :events %>
<% content_for :sub_menu do %>
	<% if permitted_to? :manage, :events %>
	<li class="side_bar"><%= link_to "Anpassen", :controller => @event.controller_name, :action => "edit" %></li>
	<li class="side_bar"><%= link_to_function "Teilnehmer hinzufügen", "Glacier.Popup.init('" + add_player_event_path(@event) + ".ajax', {width: 500})" %></li>
	<li class="side_bar"><%= link_to "Zurück", events_path %></li>
	<% end %>
<% end %>
<% end %>