<table class="default">
	<thead>
		<th width="20%">Autor</th>
		<th width="50%">Nachricht</th>
		<th width="20%">Erstellt am</th>
		<% if permitted_to? :manage, :news %>
		<th width="10%">&nbsp;</th>
		<% end %>
	</thead>

	<% for news in @news %>
		<tr>
			<td class="author"><%=h news.user.full_name %></td>
			<td style="font-size: smaller;"><%=sanitize news.message %></td>
			<td class="date"><%=h l(news.created_at, :format => :default_2) %></td>
			
			<% if permitted_to? :manage, news %>
				<td>
					<%= link_to_function image_tag("icons/pencil.png", :border => 0), "Glacier.Popup.init('" + edit_news_path(news) + ".ajax', {width: 700});" %>
					<%= link_to image_tag("icons/delete.png", :border => 0), news, :confirm => "Möchten sie diesen Eintrag wirklich löschen?", :method => :delete %>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>