<h1>Nachricht editieren</h1>

<div style="margin-top: 10px;">
	<% form_for [@news], :url => {:action => "update"},:html => {:class => :default} do |f| %>
		<%= f.error_messages %>
	
	<div>
		<%= f.label "Nachricht" %>
		<%= f.text_area :message %>
	</div>

	<div>
		<%= f.submit "Abschicken" %>
	</div>

	<% end %>
</div>

<div class="links">
	<%= link_to "Zurück", news_index_path %>
</div>