<table class="default">

<thead>
	<tr>
		<% if check_box_needed %>
		<th width="3%">&nbsp;</th>
		<% end %>
		<th width="25%">Spiel</th>
		<th width="30%">Datum</th>
		<th width="20%">Ort</th>
		<% if show_result %>
		<th width="15%">Resultat</th>
		<% end %>
		<% if show_actions && user_is_admin? %>
		<th width="10%">&nbsp;</th>
		<% end %>
	  </tr>
</thead>
  
<% @games.each do |game| %>
  <tr>
		<% if check_box_needed %>
		<td><%= check_box_tag 'user[event_ids][]', game.id, game.players.include?(@player) %></td>
		<% end %>
		<td style="font-size: 14px;"><%= link_to "#{h(game.name)}", game %></td>
		<td><%=h game.date_formatted %></td>
		<td><%= link_to h(game.location.name), location_on_map_path(:id => game.location.id) %></td>
		<% if show_result %>
		<td>
			<%=h game.result %>
		</td>
		<% end %>
		<% if show_actions && permitted_to?(:manage, game) %>
		<td>
	    <%= link_to(image_tag('icons/pencil.png', :border => 0), edit_game_path(game)) %>
	    <%= link_to(image_tag('icons/delete.png', :border => 0), game, :confirm => 'Möchten sie dieses Spiel wirklich löschen?', :method => :delete) %>
		</td>
		<% end %>
  </tr>
<% end %>
</table>
