<div id="game-list">
	
	<h1>Spielplan Saison <%= current_season.to_s %></h1>

	<table class="default">
	
	<thead>
		<tr>
			<th width="38%">Spiel</th>
			<th width="25%">Datum</th>
			<th width="18%">Ort</th>
			<th width="10%">Resultat</th>
			<th width="7%">&nbsp;</th>
		  </tr>
	</thead>
	  
	<% @games.each do |game| %>
	  <tr>
			<td><%= link_to "Gletscherspalter vs. #{game.opponent}", game %></td>
			<td><%= game.date_formatted %></td>
			<td><%= link_to game.rink.name, locations_path(:id => game.rink.id) %></td>
			<td><%= game.result %></td>
			<td>
				<% if permitted_to? :manage, game %>
		    <%= link_to(image_tag('icons/pencil.png', :border => 0), edit_game_path(game)) %>
		    <%= link_to(image_tag('icons/delete.png', :border => 0), game, :confirm => 'Möchten sie dieses Spiel wirklich löschen?', :method => :delete) %>
				<% end %>
			</td>
	  </tr>
	<% end %>
	</table>	
</div>

<% if permitted_to? :manage, :games %>
<div class="links">
	<%= link_to "Neues Spiel erstellen", new_game_path %>
</div>
<% end %>