<h1>Spielplan Saison <%=h current_season.to_s %></h1>
	
<div style="margin-top: 10px;">
	<%= render :partial => "game_table", :locals => { :games => @games, 
		:show_actions => true, :show_result => true, :check_box_needed => false 
		} %>
	<div style="margin-top: 5px;">
	<hr/>
		<%= will_paginate @games %>
	<hr/>
	</div>
</div>

<% content_for :sub_menu do %>
	<% if permitted_to? :manage, :games %>
	<li class="side_bar"><%= link_to "Spiel erstellen", new_game_path %></li>
	<% if false %>
	<li class="side_bar"><%= link_to "Training erstellen", new_training_path %></li>
	<li class="side_bar"><%= link_to "Trainingslager erstellen", new_trainingscamp_path %></li>
	<li class="side_bar"><%= link_to "Ereignis erstellen", new_event_path %></li>
	<% end %>
	<% end %>
	<li class="side_bar"><%= link_to "Spielplan als PDF", games_path(:format => "pdf") %></li>
<% end %>