<h1>Spielplan Saison <%=h current_season.to_s %>
	<%= link_to image_tag("icons/page_white_acrobat.png", :alt => 'Spiele als PDF'), games_path(:format => "pdf") %>
</h1>
	
<div style="margin-top: 10px;">
	<%= render :partial => "game_table", :locals => { :games => @games, 
		:show_actions => true, :show_result => true, :check_box_needed => false 
		} %>
	<hr/>
	<%= will_paginate @games %>
	<hr/>
</div>

<% if permitted_to? :manage, :games %>
<div class="links">
	<%= link_to "Neues Spiel erstellen", new_game_path %>
</div>
<% end %>