<h1>Spielplan Saison <%=h current_season.to_s %></h1>
	
<div style="margin-top: 10px;">
	
	<% if current_season.events.next_non_game_event %>
		Diese Seite zeigt den Spielplan der Gletscherspalter. Alle anderen 
		Vereinsanlässe findest du <%= link_to "hier", events_path %>.
	<% end %>
	
	<div id="games" style="margin-top: 10px;">
		<%= render "games" %>
	</div>
</div>

<% content_for :sub_menu do %>
	<% if permitted_to? :manage, :games %>
	<li class="side_bar"><%= link_to "Spiel erstellen", new_game_path %></li>
	<% end %>
	<li class="side_bar"><%= link_to "Spielplan als PDF", games_path(:format => "pdf") %></li>
<% end %>