<h1>Neues Spiel erstellen</h1>

<% form_for [@game], :html => {:class => :default} do |f| %>
  <%= f.error_messages %>

  <div>
	<%= f.label "Zeit" %>
	<%= f.datetime_select :date, :start_year => Time.now.year, :end_year => Time.now.year + 1 %>
  </div>

  <div>
	<%= f.label "Ort" %>
	<%= f.collection_select(:rink_id, Rink.all, :id, :name, {:promt => "Select a location"}) %>
  </div>

  <div>
	<%= f.label "Gegner" %>
	<%= f.text_field :opponent %>
  </div>

  <div>
	<%= f.label "Resultat" %>
	<%= f.text_field :result %>
  </div>

  <div>
    <%= f.submit "Abschicken" %>
  </div>
<% end %>

<%= link_to 'Zurück', games_path %>
