<h1>Spielinformationen</h1>

<% form_for [@game], :html => {:class => :default} do |f|%>

  <div>
    <%= f.label :date, "Datum:", {:class => :bold} %>
    <%= f.label @game.date_formatted %>
  </div>

  <div>
    <%= f.label :rink, "Ort:", {:class => :bold} %>
    <%= f.label @game.rink.name %>
  </div>

  <div>
    <%= f.label :opponent, "Gegner:", :class => :bold %>
    <%= f.label @game.opponent %>
  </div>

  <div>
    <%= f.label :result, "Resultat:", :class => :bold %>
    <%= f.label @game.result %>
  </div>

<% end %>




<div style="margin-top: 30px;">
	<h1>Besetzung</h1>
	
	<% if !@players.empty? %>
		<%= render :partial => "players/roster", :locals => {:players => @players } %>
	<% else %>
		Für dieses Spiel haben sich noch keine Spieler eingetragen.
	<% end %>
	
</div>

<div class="links">
	<%= link_to 'Zurück', games_path %>
</div>
