<h1><%= @game.name %></h1>

<div>
	<table class="facts">
		<tr>
			<td class="key">Datum:</td>
			<td><%=h @game.date_formatted %></td>
		</tr>
		<tr>
			<td class="key">Ort:</td>
			<td><%=link_to @game.location.name, location_on_map_path(:id => @game.location.id) %></td>
		</tr>
		<tr>
			<td class="key">Resultat:</td>
			<td><%=h @game.result %></td>
		</tr>
	</table>
</div>

<div style="margin-top: 20px;">
<% if !@game.score.blank? %>
	<h2>Skorer Liste</h2>
	<% if @scores.empty? %>

		Zu diesem Spiel wurden keine Skorerpunke erfasst.

	<% else %>

	<%= render :partial => "/scores/score_table", :locals => {:scores => @scores, :game => @game } %>
	
	<% end %>
<% end %>



</div>
	
<div style="margin-top: 20px;">
	<h2>Besetzung</h2>
	
	<% if !@players.empty? %>
		
		<div style="margin-top: 5px;">
			<%= summary_sentence(@game.players) %>
		</div>
		
		<div style="margin-top: 5px;">
			<%= render :partial => "players/roster", 
				:locals => {
					:players => @players, 
					:editable => false, 
					:deletable => true,
					:delete_icon => "icons/cross.png",
					:delete_path => "/events/#{@game.id}/remove_player?p_id="
				} %>
		</div>
	<% else %>
		Für dieses Spiel haben sich keine Spieler eingetragen.
	<% end %>
</div>

<% content_for :sub_menu do %>
	<% if permitted_to? :manage, :games %>
	<li class="side_bar"><%= link_to "Spiel Details anpassen", edit_game_path(@game) %></li>
	<% end %>
	<% if permitted_to? :manage, :games %>
	<li class="side_bar"><%= link_to_function "Spieler hinzufügen", "Glacier.Popup.init('" + add_player_event_path(@game) + ".ajax', {width: 500})" %></li>
	<% end %>
	<% if !@game.score.blank? && permitted_to?(:manage, :scores) %>
		<li class="side_bar"><%= link_to_function "Skorer erfassen", "Glacier.Popup.init('" + new_game_score_path(:game_id => @game.id) + ".ajax', {width: 500})" %></li>
	<% end %>
	<li class="side_bar"><%= link_to 'Zurück', games_path %></li>
<% end %>

