<h1>Spiel Gletscherspalter vs. <%= @game.opponent %></h1>

<% form_for [@game],:html => {:class => :default} do |f|%>

  <div>
    <%= f.label :date, "Datum:", {:class => :bold} %>
    <%= f.label nil, h(@game.date_formatted) %>
  </div>

  <div>
    <%= f.label :rink, "Ort:", {:class => :bold} %>
    <%= f.label nil, h(@game.rink.name) %>
  </div>

  <div>
    <%= f.label :result, "Resultat:", :class => :bold %>
    <%= f.label nil, h(@game.result) %>
  </div>

<% end %>
<div class="clear"></div>

<div class="links">
	<%= link_to "Anpassen", edit_game_path(@game) %>
</div>

<div style="margin-top: 20px;">
<% if !@game.score.blank? %>
	<h2>Skorer Liste</h2>
	<% if @scores.empty? %>

		Zu diesem Spiel wurden keine Skorerpunke erfasst.

	<% else %>

	<%= render :partial => "/scores/score_table", :locals => {:scores => @scores, :game => @game } %>
	
	<% end %>
<% end %>

<% if !@game.score.blank? && permitted_to?(:manage, :scores) %>
<div class="links">
	<%= link_to "Neuen Skorer erfassen", new_game_score_path(:game_id => @game.id) %>
</div>
<% end %>

</div>
	
<div style="margin-top: 20px;">
	<h2>Besetzung</h2>
	
	<% if !@players.empty? %>
		<%= render :partial => "players/roster", 
			:locals => {
				:players => @players, 
				:editable => false, 
				:deletable => true,
				:delete_path => "/games/#{@game.id}/remove_player?p_id="
			} %>
	<% else %>
		Für dieses Spiel haben sich keine Spieler eingetragen.
	<% end %>
	<div>
		<% if permitted_to? :manage, @game %>
		<div class="links">
			<%= link_to "Spieler hinzufügen", add_player_game_path(@game) %>
		</div>
		<% end %>
	</div>
	
</div>

<div class="links">
	<%= link_to 'Zurück', games_path %>
</div>
