<h1>Spielinformationen</h1>

<div style="margin-top: 10px;">
	<div>
		<b>Datum:</b>
		<%=h @game.date_formatted %>
	</div>

	<div>
		<b>Ort:</b>
		<%= @game.rink.name %>
	</div>

	<div>
		<b>Gegner:</b>
		<%= @game.opponent %>
	</div>

	<div>
		<b>Resultat:</b>
		<%= @game.result %>
	</div>
</div>

<div style="margin-top: 15px;">
	<h1>Besetzung</h1>
	
	<% if !@players.empty? %>
		<%= render :partial => "players/roster", :locals => {:players => @players } %>
	<% else %>
		Für dieses Spiel haben sich noch keine Spieler eingetragen.
	<% end %>

	
</div>

<div class="links">
	<%= link_to 'Zurück', games_path %>
</div>
