<table class="default">
	<tr class="smaller">
		<th>&nbsp;</th>
		<th># Spiele</th>
		<th># Siege</th>
		<th># Niederlagen</th>
		<th># Unentschieden</th>
		<th>Gegentore</th>
		<th><abbr title="Goal against Average">GAA</abbr></th>
	</tr>
	
	<tr>
		<td>aktuelle Saison</td>
		<td><%=h @player.games_played(current_season).size %></td>
		<td><%=h @player.wins(current_season) %></td>
		<td><%=h @player.defeats(current_season) %></td>
		<td><%=h @player.tied_games(current_season) %></td>
		<td><%=h @player.goals_against(current_season) %></td>
		<td><%=h @player.goal_against_average(current_season) %></td>
	</tr>
	
<% if Season.count > 1 %>
	<tr>
		<td>Gesamt</td>
		<td><%=h @player.games_played.size %></td>
		<td><%=h @player.wins %></td>
		<td><%=h @player.defeats %></td>
		<td><%=h @player.tied_games %></td>
		<td><%=h @player.goals_against %></td>
		<td><%=h @player.goal_against_average %></td>
	</tr>
	<% end %>
</table>
