<table class="default">
	<tr class="smaller">
		<th>&nbsp;</th>
		<th># Spiele</th>
		<th># Siege</th>
		<th># Niederlagen</th>
		<th># Unentschieden</th>
		<th>Gegentore</th>
		<th><abbr title="Goal against Average">GAA</abbr></th>
	</tr>
	
	<% @seasons.each do |s| %>
		<% if @player.games_played(s).size > 0 %>
			<tr>
				<td><%= s %></td>
				<td><%= @player.games_played(s).size %></td>
				<td><%= @player.wins(s) %></td>
				<td><%= @player.defeats(s) %></td>
				<td><%= @player.tied_games(s) %></td>
				<td><%= @player.goals_against(s) %></td>
				<td><%= @player.goal_against_average(s) %></td>
			</tr>
		<% end %>
	<% end %>
	
<% if Season.count > 1 %>
	<tr class="total">
		<td>Gesamt</td>
		<td><%= @player.games_played.size %></td>
		<td><%= @player.wins %></td>
		<td><%= @player.defeats %></td>
		<td><%= @player.tied_games %></td>
		<td><%= @player.goals_against %></td>
		<td><%= @player.goal_against_average %></td>
	</tr>
	<% end %>
</table>
