<% players.each do |position_players_pair| %>
	<h2 style="margin-top: 10px"><%= position_players_pair.second.first.position_as_string %></h2>
  <table class="default">
	<colgroup>
		<col width="60%" />
		<% if logged_in? %>
		<col width="30%" />
		<col width="10%" />
		<% else %>
		<col width="40%" />
		<% end %>
	</colgroup>

	<% position_players_pair.second.each do |player| %>
	  <tr>
		<td>
			<%= player.user.full_name %>
		</td>
		<td>
			<%= player.number %>
		</td>
		<% if permitted_to? :read, player %>
		<td>
			<%= link_to(image_tag('icons/magnifier.png', :border => 0), player) %>
			<% if permitted_to? :adjust, player %>
			<%= link_to(image_tag('icons/pencil.png', :border => 0) , edit_player_path(player)) %>
			<% end %>
			<% if permitted_to? :manage, player %>
			<%= link_to(image_tag('icons/delete.png', :border => 0), player, :confirm => "Möchten sie den Spieler #{player.user.full_name} wirklich löschen?", :method => :delete) %>
			<% end %>
		</td>
		<% end %>
	  </tr>
	<% end %>
	</table>
<% end %>