<h1><%= @player.user.full_name %> editieren</h1>

<% form_for [@player], :html => {:class => :default} do |f| %>
  <%= f.error_messages %>

  <h2>Spielerinformationen</h2>
  

  <div>
	<%= f.label "Nummer:" %>
	<%= f.text_field :number, :size => 10 %>
  </div>

  <div>
	<%= f.label "Position:" %>
	<%= f.select :position, PLAYER_POSITIONS, :promt => "Select a position" %>
  </div>

  <h2>Benutzerinformationen</h2>

  <div>
    <%= label_tag "Benutzername:" %>
    <%= text_field_tag "user[login]", @player.user.login %>
  </div>

	<div>
		<%= label_tag "Passwort ändern:" %>
		<%= check_box_tag "user[pwd_changed]", nil, false, :onclick => "$('pwd').toggle(); $('pwd_conf').toggle()" %>
	</div>

  <div id="pwd" style="display: none;">
    <%= label_tag "Passwort:" %>
    <%= password_field_tag "user[password]", @player.user.password %>
  </div>
	
  <div id="pwd_conf" style="display: none;">
    <%= label_tag "confirm", "Best&auml;tigen:" %>
    <%= password_field_tag "user[password_confirmation]", @player.user.password %>
  </div>
	
  <div>
    <%= label_tag "Vorname:" %>
    <%= text_field_tag "user[firstname]", @player.user.firstname %>
  </div>

  <div>
    <%= label_tag "Nachname:" %>
    <%= text_field_tag "user[lastname]", @player.user.lastname %>
  </div>

  <div>
    <%= label_tag "Email:" %>
    <%= text_field_tag "user[email]", @player.user.email %>
  </div>

  <div>
    <%= f.submit "Anpassen" %>
  </div>
<% end %>

<%= link_to 'Profil Seite', @player %> |
<%= link_to 'Team Seite', players_path %>
