<h1><%= @player.user.full_name %> editieren</h1>

<% form_for [@player], :html => {:class => :default} do |f| %>
  <%= f.error_messages %>

  <div>
	<%= f.label "Nummer" %>
	<%= f.text_field :number %>
  </div>

  <div>
	<%= f.label :position %>
	<%= f.select :position, PLAYER_POSITIONS, :promt => "Select a position" %>
  </div>

  <div>
    <%= f.submit "Anpassen" %>
  </div>
<% end %>

<%= link_to 'Anzeigen', @player %> |
<%= link_to 'Zurück', players_path %>
