<h1><%= @player.user.full_name %> editieren</h1>

<%= form_for [@player], :html => {:class => :default} do |f| %>

  <h2>Spielerinformationen</h2>

	<div>
		<%= f.label "Mitglied seit" %>
		<%= f.select :member_since, ((Time.now.year - 20)..(Time.now.year)), :prompt => "Bitte auswählen" %>
	</div>
  
	<div>
		<%= f.label "Nummer" %>
		<%= f.select :number, 0...100, :prompt => "Bitte auswählen" %>
	</div>
	
  <div>
	<%= f.label "Position:" %>
	<%= f.select :position, PLAYER_POSITIONS, :promt => "Select a position" %>
  </div>

  <h2>Benutzerinformationen</h2>

  <div>
    <%= label_tag "Benutzername:" %>
    <%= text_field_tag "user[login]", h(@player.user.login), :size => 30 %>
  </div>

	<div>
		<%= label_tag "Passwort ändern:" %>
		<%= check_box_tag "user[pwd_changed]", nil, false, :onclick => "$('pwd').toggle(); $('pwd_conf').toggle();" %>
	</div>

  <div id="pwd" style="display: none;">
    <%= label_tag "Passwort:" %>
    <%= password_field_tag "user[password]", @player.user.password, :size => 30 %>
  </div>
	
  <div id="pwd_conf" style="display: none;">
    <%= label_tag "confirm", "Best&auml;tigen:" %>
    <%= password_field_tag "user[password_confirmation]", @player.user.password, :size => 30 %>
  </div>
	
  <div>
    <%= label_tag "Vorname:" %>
    <%= text_field_tag "user[firstname]", h(@player.user.firstname), :size => 30 %>
  </div>

  <div>
    <%= label_tag "Nachname:" %>
    <%= text_field_tag "user[lastname]", h(@player.user.lastname), :size => 30 %>
  </div>

	<div>
		<%= label_tag :street, "Strasse und Nr." %>
		<%= text_field_tag "user[street]", h(@user.street), :size => 20 %>
		<%= text_field_tag "user[number]", h(@user.number), :size => 5 %>
	</div>
	
	<div>
		<%= label_tag :city, "Ort und PLZ" %>
		<%= text_field_tag "user[city]", h(@user.city), :size => 20 %>
		<%= text_field_tag "user[zip]", h(@user.zip), :size => 5 %>
	</div>
	
	<div>
		<%= label_tag "Telefon" %>
		<%= text_field_tag "user[phone]", h(@user.phone), :size => 30 %>
  </div>

	<div>
		<%= label_tag "Mobile" %>
		<%= text_field_tag "user[mobile]", h(@user.mobile), :size => 30 %>
  </div>

  <div>
    <%= label_tag "Email:" %>
    <%= text_field_tag "user[email]", h(@player.user.email), :size => 30 %>
  </div>

  <div>
    <%= f.submit "Anpassen" %>
  </div>
<% end %>

<% content_for :sub_menu do %>
	<li class="side_bar"><%= link_to 'Profil Seite', @player %></li>
	<li class="side_bar"><%= link_to 'Team Seite', players_path %></li>
<% end %>