<h1><%= @player.user.full_name %></h1>

<% form_for [@player], :html => {:class => :default} do |f| %>
	
	<div>
		<%= f.label :member_since, "Mitglied seit:", :class => :bold %>
		<%=h @player.member_since %>
	</div>
	
	<div>
		<%= f.label :player, "Trikot Nummer:", :class => :bold %> 
		<%=h @player.number %>
	</div>

	<div>
		<%= f.label :player, "Position:", :class => :bold %>
		<%=h @player.position_as_string %>
	</div>
	
	<% if permitted_to? :adjust, @player %>
	<div>
		<%= link_to 'Anpassen', edit_player_path(@player) %>
	</div>
	<% end %>
	
<% end %>
<div class="clear"></div>

<div style="marin-top: 20px;">
	<h2>Statistiken</h2>
	
	<% if @player.position_as_string == 'Goalie' %>
		<%= render :partial => "goalie_stats", :locals => { :player => @player } %>
	<% else %>
		<%= render :partial => "player_stats", :locals => { :player => @player } %>
	<% end %>
	
</div>

<div id="my_games" style="margin-top: 20px;">
	<h2>Gebuchte Spiele
	<% if logged_in? %>
		<%= link_to image_tag("icons/calendar.png", :alt => 'Spiele in Outlook einfügen'), games_player_url(:format => "ics", :protocol => "webcal", :token => current_user.token) %>
		<%= link_to image_tag("icons/page_white_acrobat.png", :alt => 'Spiele als PDF'), games_player_path(:format => "pdf") %>
	<% end %>
	</h2>
	
	<div style="margin-top: 10px">
		<%= render :partial => "games/game_table", :locals => { :games => @games, 
			:show_result => true, :show_actions => false, :check_box_needed => false }%>
	</div>
	
	<% if permitted_to? :games, @player %>
	<div class="links">
		<%= link_to 'Weitere Spiele buchen', games_player_path %> 
	</div>
	<% end %>
</div>