<h1><%= @player.user.full_name %></h1>

<% if RAILS_ENV == "development" %>
<div>

    <div class="player_pic">
      <%= image_tag('/images/player_pics/profile_pic.png') %>
    </div>

    <div class="player_facts">
        <table class="facts">
            <tr>
                <td class="key">Mitglied seit:</td>
                <td><%=h @player.member_since %></td>
            </tr>
            <tr>
                <td class="key">Position:</td>
                <td><%=h @player.position_as_string %></td>
            </tr>
            <tr>
                <td class="key">Trikot Nummer:</td>
                <td><%=h @player.number %></td>
            </tr>
        </table>
    </div>

<div class="clear"></div>
</div>

<% else %>
      <div>
        <table class="facts">
            <tr>
                <td class="key">Mitglied seit:</td>
                <td><%=h @player.member_since %></td>
            </tr>
            <tr>
                <td class="key">Position:</td>
                <td><%=h @player.position_as_string %></td>
            </tr>
            <tr>
                <td class="key">Trikot Nummer:</td>
                <td><%=h @player.number %></td>
            </tr>
        </table>
    </div>
<% end %>

<div style="marin-top: 20px;">
	<h2>Statistiken</h2>
	
	<% if @player.position_as_string == 'Goalie' %>
		<%= render :partial => "goalie_stats", :locals => { :player => @player } %>
	<% else %>
		<%= render :partial => "player_stats", :locals => { :player => @player } %>
	<% end %>
	
</div>

<div id="my_games" style="margin-top: 20px;">
	<h2>Gebuchte Termine</h2>
	
	<div style="margin-top: 10px">
		<%= render :partial => "events/events_table", :locals => { :events => @events, 
			:show_result => true, :actions_needed => false, :check_box_needed => false }%>
		<div style="margin-top: 5px;">
			<hr/>
			<%= will_paginate @events %>
			<hr/>
		</div>
	</div>
	
	
</div>

<% if permitted_to?(:adjust, @player) || permitted_to?(:subscribe_to_events, @player) %>
<% content_for :sub_menu do %>
	<% if permitted_to? :adjust, @player %>
    <li class="side_bar"><%= link_to "Profil Bild ändern" %></li>
	<li class="side_bar"><%= link_to 'Spieler Details anpassen', edit_player_path(@player) %></li>
	<li class="side_bar"><%= link_to 'Termine in Outlook einfügen', events_player_url(:format => "ics", :protocol => "webcal", :token => current_user.token) %></li>
	<li class="side_bar"><%= link_to 'Termine als PDF', events_player_path(:format => "pdf") %></li>
	<% end %>
	<% if permitted_to? :subscribe_to_events, @player %>
	<li class="side_bar"><%= link_to "Termine verwalten", events_player_path %></li>
	<% end %>
<% end %>
<% end %>
