<h1><%= @player.user.full_name %></h1>

<div class="<%= @player.user.avatar ? "profile_with_image" : "profile_without_image" %>">

    <div class="player_pic">
      <%= sanitize user_profile_pic(@player.user, nil) %>
    </div>

    <div class="player_facts">
        <table class="facts">
            <tr>
                <td class="key">Mitglied seit:</td>
                <td><%=h @player.member_since %></td>
            </tr>
            <tr>
                <td class="key">Position:</td>
                <td><%=h @player.position_as_string %></td>
            </tr>
            <tr>
                <td class="key">Trikot Nummer:</td>
                <td><%=h @player.number %></td>
            </tr>
        </table>
    </div>

<div class="clear"></div>
</div>

<div style="marin-top: 20px;">
	<h2>Statistiken</h2>
	
	<% if @player.position_as_string == 'Goalie' %>
		<%= render :partial => "goalie_stats", :locals => { :player => @player } %>
	<% else %>
		<%= render :partial => "player_stats", :locals => { :player => @player } %>
	<% end %>
	
</div>

<div id="my_games" style="margin-top: 20px;">
	<h2>Gebuchte Termine (<%= "#{Season.current}" %>)</h2>
	
	<div style="margin-top: 10px">
		<%= render :partial => "current_events", :locals => {:events => @events} %>
	</div>
	
</div>

<% if permitted_to?(:adjust, @player) || permitted_to?(:subscribe_to_events, @player) %>
<% content_for :sub_menu do %>
	<% if permitted_to? :adjust, @player %>
	<li class="side_bar"><%= link_to_function "Profil Bild ändern", "Glacier.Popup.init('" + new_user_avatar_path(@player.user) + ".ajax', {width: 550})" %></li>
	<li class="side_bar"><%= link_to 'Spieler Details anpassen', edit_player_path(@player) %></li>
	<li class="side_bar"><%= link_to 'Termine in Kalender einfügen', events_player_url(:format => "ics", :protocol => "webcal", :token => current_user.token) %></li>
	<li class="side_bar"><%= link_to 'Termine als PDF', events_player_path(:format => "pdf") %></li>
	<% end %>
	<% if permitted_to? :subscribe_to_events, @player %>
	<li class="side_bar"><%= link_to "Termine verwalten", events_player_path %></li>
	<% end %>
	<% if permitted_to? :update_subscriptions, :users %>
	<li class="side_bar"><%= link_to_function "Benachrichtigungen", "Glacier.Popup.init('#{edit_subscriptions_user_path(@player.user)}')" %></li>
	<% end %>
<% end %>
<% end %>
