<div class="<%= style_class %>">
  <h2><%=h photoset.title %></h2>

  <% if photoset.description %>
		<div style="margin-top: 10px;">
			<%=h photoset.description %>
		</div>
  <% end %>
  
	<div class="photo">
    <%= link_to photoset_image_tag(photoset, :size => :medium, :lightbox => :large), photo_path(photoset.id) %>
    <div>
			<%=h photoset.photos %> Fotos
		</div>
  </div>
</div>

<% if style_class == 'photoset_right' %>
<div class="clear">
</div>
<% end %>
