<h2 class="side_bar">News</h2>
<% next_event = Event.next_event %>
<% next_game = current_season.games.next_game %>

<% if next_event != nil %>
 <p class="side_bar">

	<h3 class="side_bar">Nächstes Event</h3>
	
     <%=h next_event.date_formatted %><br />
     <%=h next_event.title %>,
     <%=h next_event.location %>
 </p>
<% end %>
<% if next_game != nil %>
 <p>
   <h3 class="side_bar">Nächstes Spiel:</h3>

   <%=h next_game.date_formatted %>
   Gletscherspalter vs. <br />
		<%= next_game.opponent %>
  
 </p>
<% end %>
<% if Game.last_game %>

<p style="margin-top: 10px;">
		<h3 class="side_bar">Letztes Spiel:</h3>
	Gletscherspalter vs.<br /> <% game = Game.last_game %><%=h game.opponent %> <%=h game.result %>
</p>
<% end %>
