<h2 class="side_bar">News</h2>
<% next_event = Event.next_non_game_event %>
<% next_game = current_season.games.next_game %>

<% if next_event != nil %>
 <p class="side_bar">

	<h3 class="side_bar">Nächstes Event</h3>
	
     <%=h next_event.date_formatted %><br />
     <%= link_to "#{next_event.name}", event_path(next_event.id) %><br />
    <% if next_event.is_a?(Game) || next_event.is_a?(Training) %> 
			<%= link_to "(#{next_event.location.name})", location_on_map_path(next_event.location) %>
		<% else %>
			<%=h next_event.locality %>
		<% end %>
 </p>
<% end %>
<% if next_game != nil %>
 <p>
   <h3 class="side_bar">Nächstes Spiel</h3>

   <%=h next_game.date_formatted %>
   <%= link_to sanitize("Gletscherspalter vs. <br /> #{next_game.opponent}"), game_path(next_game) %> <br />
	 <%= link_to "(#{next_game.location.name})", location_on_map_path(next_game.location) %>
  
 </p>
<% end %>
<% if Game.last_game %>

<p style="margin-top: 10px;">
		<h3 class="side_bar">Letztes Spiel</h3>
		<% game = Game.last_game %>
	<%= link_to "Gletscherspalter vs.<br /> #{game.opponent} #{game.result}", game_path(game)%>
</p>
<% end %>
