<% content_for :javascripts do %>
	<%= javascript_include_tag "encoder" %>
<% end %>
<h1>Kontakt Adressen:</h1>

<!-- LEFT COLUMN -->
<div style="float: left; width: 360px;">

  <h2>Präsident</h2>

	<!--
    <div class="portrait">
        <% image_tag("portraits/aloiuqoiuculqu8.jpg") %>
    </div>
-->
    <div class="description">
      <ul>
        <li>Peter Schwyn</li>
        <li>Zürich, ZH</li>
				<li class="mail"><%= mail_to "#{encode_mail('schwyn@gmail.com')}", "Nachricht senden" %></li>
      </ul>
    </div>


    <div class="clear"></div>


    <h2>Spielbetrieb</h2>
<!--
    <div class="portrait">
        <% image_tag("portraits/xlowlkolkjqoiuyl.jpg") %>
    </div>
-->
    <div class="description">
      <ul>
        <li>Mario Begert</li>
        <li>Volketswil, ZH</li>
				<li class="mail"><%= mail_to "#{encode_mail('mariobegert@sunrise.ch')}", "Nachricht senden" %></li>
      </ul>
    </div>


    <div class="clear"></div>

</div>

<!-- RIGHT COLUMN -->
<div style="position:absolute; left: 380px; width: 360px; margin-left: 10px;">
    <h2>Finanzen</h2>
<!--
    <div class="portrait">
        <%= image_tag("portraits/lqoiuvlqlouyxcblmnaiu.jpg") %>
    </div>
-->
    <div class="description">
      <ul>
        <li>Andy Schwyn</li>
        <li>Küsnacht, ZH</li>
        <li class="mail"><%= mail_to "#{encode_mail('andreasschwyn@yahoo.de')}", "Nachricht senden" %></li>
      </ul>
    </div>

    <div class="clear"></div>

    <h2>Webseite</h2>

<!--
    <div class="portrait">
        <%= image_tag("portraits/oquyu2oliju97y.jpg") %>
    </div>
-->
    <div class="description">
      <ul>
        <li>Mark Odermatt</li>
        <li>Ebikon, LU</li>
        <li class="mail"><%= mail_to "#{encode_mail('admin@gletscherspalter.ch')}", "Nachricht senden" %></li>
      </ul>
    </div>


    <div class="clear"></div>
  
</div>

<div class="clear"></div>

<script type="text/javascript">
	var addresses = $$('li.mail a');
	addresses.each(function(a) {
		var addr = a.href.gsub("mailto:","");
		a.href = "mailto:" + Base64.decode(addr);
	});
</script>







