<% include_tinymce %>
<h1>Willkommen auf Gletscherspalter.ch</h1>

<div>
	Die Gletscherspalter sind ein Team von Hockey-Spielern, die sich dem Sport, 
	kombiniert mit Kameradschaft verschrieben haben. Der Spass und die Freude am 
	freundschaftlichem Eishockeyspiel sind oberstes Gebot. Falscher Ehrgeiz und 
	Agressionen sind somit fehl auf dem Eis und auf diesen Seiten.
	Die ausführlichere Geschichte unseres Vereins befindet sich <%= link_to "hier", history_path %>.
</div>

<% unless @news.empty? %>
<div style="margin-top: 15px;">
	<h2>News</h2>
	<%= render :partial => "news/news_table", :locals => { :news => @news } %>
	
	<div class="links">
		<%= link_to "Andere Neuigkeiten", news_index_path %>
	</div>

</div>
<% end %>

<% unless [].empty? %>
	<div style="margin-top: 15px;">
		<h2>Nächste Veranstaltungen</h2>

		<%= render :partial => "events/event_table", :locals => { :events => @events, :actions => true } %>
		
	</div>
<% end %>

<div style="margin-top: 15px">
	<h2>Nächste Spiele</h2>
	
	<% if @games.empty? %>
		Momentan sind keine Spiele angesetzt.
	<% else %>
		
		<%= render :partial => "games/game_table", :locals => { 
			:games => @games, :show_result => false, :show_actions => true, 
			:check_box_needed => false 
			} %>
	
	<% end %>
</div>

<% if permitted_to? :manage, :news %>
    <% content_for :sub_menu do %>
      <li class="side_bar"><%= link_to_function 'News erstellen', "Glacier.Popup.init('" + new_news_path + ".ajax', {width: 700})" %></li>
    <% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
	tinyMCE.init({
		mode 					: "textareas",
		theme				 	: "advanced",
		theme_advanced_buttons1 : "bold, italic, underline, |, justifyleft, justifycenter, justifyright, justifyfull,|, fontsizeselect, bullist, numlist, link",
		theme_advanced_buttons2 : "",
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		convert_urls	: false
	});
</script>