<h1>Events</h1>

<% if !@events.empty? %>
<table class="default">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Anlass</th>
      <th>Ort</th>
      <th>Anmerkung</th>
    </tr>
  </thead>

  <tbody>
    <% for event in @events %>
        <tr>
          <td><%= event.date_formatted %></td>
          <td><%= event.title %></td>
          <td><%= event.location %></td>
          <td><%= event.note %></td>
        </tr>
    <% end %>
  </tbody>

</table>
<% else %>
Zur Zeit sind keine Events vorhanden.
<% end %>

<h1>Spielplan</h1>

<% if !@games.empty? %>
<table class="default">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Ort</th>
      <th>Gegner</th>
      <th>Resultat</th>
    </tr>
  </thead>

  <tbody>
    <% for game in @games %>
      <tr>
        <td><%= game.date_formatted %></td>
        <td><%= game.rink.name %></td>
        <td><%= game.opponent %></td>
        <td><%= game.result %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
   Zur Zeit sind keine Spiele vorhanden.
<% end %>
