<% include_tinymce %>
<h1>Kommentar anpassen</h1>

<% form_for [@topic, @post], :html => { :class => :default } do |f| %>
  <%= f.error_messages %>
	
	<div>
		<%= f.label "Nachricht" %>
		<%= f.text_area h(:content) %>
	</div>
	
  <div>
    <%= f.submit "Anpassen" %>
  </div>
<% end %>

<%= link_to 'Zurück', topic_path(@topic) %>

<%= render :partial => "scripts/tinymce_init" %>