<% include_tinymce %>
<h1>Neuen Kommentar erstellen</h1>

<% form_for [@topic, @post], :url => topic_posts_path, :html => {:class => :default} do |f| %>
  <%= f.error_messages %>

  <div>
      <%= f.label "Nachricht" %>
      <%= f.text_area :content %>
  </div>

  <div>
    <%= f.submit "Abschicken" %>
  </div>
<% end %>

<%= render :partial => "scripts/tinymce_init" %>

<% content_for :sub_menu do %>
	<li class="side_bar"><%= link_to 'Zurück', topic_path(@topic) %></li>
<% end %>