<%= form_for location, :url => url, :html => {:class => :default} do |f| %>
	<%= render "shared/error_messages", :target => location %>

  <div>
    <%= f.label "Name" %>
    <%= text_field_tag "location[name]", location.name, :size => 30 %>
  </div>


  <div>
    <%= label_tag "Strasse" %>
    <%= text_field_tag "address[street]", @address ? @address.street : "", :size => 30 %>
  </div>

  <div>
    <%= label_tag "Nummer" %>
    <%= text_field_tag "address[number]", @address ? @address.number : "", :size => 30 %>
  </div>

  <div>
    <%= label_tag "Stadt" %>
    <%= text_field_tag "address[city]", @address ? @address.city : "", :size => 30 %>
  </div>

  <div>
    <%= label_tag "Postleitzahl" %>
    <%= text_field_tag "address[zip]",  @address ? @address.zip : "", :size => 30 %>
  </div>

  <div>
    <%= f.label "Eisfeld" %>
    <%= check_box_tag "location[type]", :rink, true %>
  </div>
  <div>
    <%= f.label "URL" %>
    <%= text_field_tag "location[url]", @location.url, :size => 30 %>
  </div>
  <div>
    <%= f.submit label %>
  </div>
<% end %>
