<h1>Lokation anpassen</h1>

<% form_for [@location], :html => {:class => :default}  do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label "Eisfeld"%>
    <%= f.check_box :type, { :checked => @location.is_a?(Rink) ? true : false }, :rink, :location %>
  </div>
  <div>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div>
    <%= f.submit "Anpassen" %>
  </div>
<% end %>

<%= link_to 'Anzeigen', @location %> |
<%= link_to 'ZurŸck', locations_path %>
