<h1>Lokation anpassen</h1>

<%= form_for [@location], :html => {:class => :default}  do |f| %>
  <%= f.error_messages %>
	<%= error_messages_for :address %>

  <div>
    <%= f.label "Name" %>
    <%= f.text_field h(:name) %>
  </div>

  <div>
    <%= label_tag "Strasse" %>
    <%= text_field_tag "address[street]",h(@location.address.street) ,:size => 30 %>
  </div>

  <div>
    <%= label_tag "Nummer" %>
    <%= text_field_tag "address[number]", h(@location.address.number), :size => 30 %>
  </div>

  <div>
    <%= label_tag "Stadt" %>
    <%= text_field_tag "address[city]", h(@location.address.city), :size => 30 %>
  </div>

  <div>
    <%= label_tag "Postleitzahl" %>
    <%= text_field_tag "address[zip]", h(@location.address.zip), :size => 30 %>
  </div>

  <div>
    <%= f.label "Eisfeld"%>
    <%= f.check_box :type, { :checked => @location.is_a?(Rink) ? true : false }, :rink, :location %>
  </div>
  <div>
    <%= f.label "URL" %>
    <%= f.text_field h(:url) %>
  </div>
  <div>
    <%= f.submit "Anpassen" %>
  </div>
<% end %>

<% content_for :sub_menu do %>
	<% if permitted_to? :read, :locations %>
	<li class="side_bar"><%= link_to 'Zur&uuml;ck', locations_path %></li>
	<% end %>
<% end %>
