<h1>Lokationen</h1>

<table class="default">
  <tr>
    <th>Name</th>
    <th>Addresse</th>
		<th>&nbsp;</th>
  </tr>

<% for location in @locations %>
  <tr>
    <td><%= link_to h(location.name), location_on_map_path(location) %></td>
    <td><%=h location.address.to_s %></td>
    <td><%= link_to image_tag('icons/pencil.png', :border => 0), edit_location_path(location) %>
    		<%= link_to image_tag('icons/delete.png', :border => 0),location, :confirm => "Möchten sie die Lokation #{location.name} wirklich l&ouml;schen?", :method => :delete %>
		</td>
  </tr>
<% end %>
</table>

<% content_for :sub_menu do %>
	<% if permitted_to? :manage, :locations %>
	<li class="side_bar"><%= link_to 'Lokation erfassen', new_location_path %></li>
	<% end %>
<% end %>