<h1>Lokationen</h1>

<table class="default">
  <tr>
    <th>Name</th>
    <th>Addresse</th>
		<th>&nbsp;</th>
  </tr>

<% for location in @locations %>
  <tr>
    <td><%= location.name %></td>
    <td><%= location.address.to_s %></td>
    <td><%= link_to image_tag('icons/pencil.png', :border => 0), edit_location_path(location) %>
    		<%= link_to image_tag('icons/delete.png', :border => 0),location, :confirm => 'Mšchten sie diese Lokation wirklich lšschen?', :method => :delete %>
		</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue Lokation erfassen', new_location_path %>
