<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="language" content="de">
<meta name="description" content="Homepage des Plauscheishockey Vereins Gletscherspalter des Zürcher Oberlandes in der Schweiz">
<meta name="author" content="Mark Odermatt">
<meta name="keyword" content="Eishockey, Eishockeymannschaft, Plausch, Plauscheishockey, Plauschmannschaft, Gletscherspalter, Hockey, Hockeymannschaft,EHC Gletscherspalter, Sport, www.gletscherspalter.ch, Gletschis, Zürich Oberland">
<meta name="robots" content="index,follow">
<meta name="zipcode" content="8623">
<meta name="city" content="Wetzikon">
<meta name="state" content="Zurich">
<meta name="country" content="CH">
<meta name="DC.Creator" content="Mark Odermatt">
<meta name="DC.Subject" content="EHC Gletscherspalter - Homepage für Mitglieder und Interessierte">
<meta name="DC.Publisher" content="Gletscherspalter">
<meta name="DC.Date" content="2009-11-27">
<meta name="DC.Language" content="de">
<meta name="DC.Coverage" content="Zurich">
<meta name="DC.Identifier" content="http://gletscherspalter.railsplayground.net">
<meta name="DC.Type" content="Text">
<meta name="DC.Format" content="text/html">
<meta name="DC.Rights" content="Alle Rechte liegen beim Autor">

<%= stylesheet_link_tag :all, :cache => true %>

<%= javascript_include_tag :defaults, :concat => true, :cache => true %>

<%= javascript_include_tag "hmenu" %>
<%= javascript_include_tag "pagination" %>

<%= yield :stylesheets %>

<%= yield :javascripts %>

<%= csrf_meta_tag %>

<title><%= @title || "Glescherspalter.ch" %></title>