<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="language" content="de">
	<meta name="description" content="Homepage des Plauscheishockey Vereins Gletscherspalter des Z체rcher Oberlandes in der Schweiz">
	<meta name="author" content="Mark Odermatt">
	<meta name="keyword" content="Eishockey, Eishockeymannschaft, Plausch, Plauscheishockey, Plauschmannschaft, Gletscherspalter, Hockey, Hockeymannschaft,EHC Gletscherspalter, Sport, www.gletscherspalter.ch, Gletschis, Z체rich Oberland">
	<meta name="robots" content="index,follow">
	<meta name="zipcode" content="8623">
	<meta name="city" content="Wetzikon">
	<meta name="state" content="Zurich">
	<meta name="country" content="CH">
	<meta name="DC.Creator" content="Mark Odermatt">
	<meta name="DC.Subject" content="EHC Gletscherspalter - Homepage f체r Mitglieder und Interessierte">
	<meta name="DC.Publisher" content="Gletscherspalter">
	<meta name="DC.Date" content="2009-11-27">
	<meta name="DC.Language" content="de">
	<meta name="DC.Coverage" content="Zurich">
	<meta name="DC.Identifier" content="http://gletscherspalter.railsplayground.net">
	<meta name="DC.Type" content="Text">
	<meta name="DC.Format" content="text/html">
	<meta name="DC.Rights" content="Alle Rechte liegen beim Autor">
	
	<%= stylesheet_link_tag :all %>
	
	<%= yield(:javascripts) %>
	<%= javascript_include_tag :all %>
</head>

<body>
	
	<div id="wrapper">

		<div id="header">
			<%= image_tag("new_style/header_people.png") %>
			
			<div id="menu_container">
				<ul id="header_main_menu">
					<li class="first"><%= link_to "Home" , root_path %></li>
					<li><%= link_to "News", news_index_path %></li>
					<% if logged_in? %>
					<li><%= link_to "Mein Profil", player_path(current_user.player) %>
						<ul>
							<li><%= link_to "Spiele Verwalten", games_player_path(current_user.player) %>
						</ul>
					</li>
					<% end %>
					<li><%= link_to "Team", players_path %>
						<ul>
							<li><%= link_to "Mannschaft", players_path %></li>
							<% if logged_in? %>
							<li><%= link_to "Forum", topics_path %></li>
							<% end %>
						</ul>
					</li>
					<li><%= link_to "Saison", games_path %>
						<ul>
							<li><%= link_to "Spielplan", games_path %></li>
							<li><%= link_to "Statistiken", statistics_season_path(current_season) %></li>
							<li><%= link_to "Austragungsorte", :controller => "root", :action => "locations" %></li>
						</ul>
					</li>
					<li><%= link_to "Kontakt", :controller => "root", :action => "contact" %>
						<ul>
							<li><%= link_to "Vorstand", :controller => "root", :action => "contact" %></li>
							<li><%= link_to "G채stebuch", guestnotes_path %></li>
						</ul>
					</li>
					<% if user_is_admin? %>
					<li><%= link_to "Admin" %>
						<ul>
							<li><%= link_to "Nachrichten", messages_path %></li>
							<li><%= link_to "Events", events_path %></li>
		        	<li><%= link_to "Benutzer", users_path %></li>
		        	<li><%= link_to "Austragungsorte", locations_path %></li>
						</ul>
					</li>
					<% end %>
				</ul>
			</div>
			
			<script>
				DynarchMenu.setup('header_main_menu', { shadows: false, electric: true });
			</script>
			
			<div id="status_bar">
				<div id="status_info">
					<% if logged_in? %>
						angemeldet als: <%= current_user.full_name %>
					<% else %>
						nicht angemeldet
					<% end %>
				</div>
				<div id="status_action">
					<% if logged_in? %>
						<%= link_to "ausloggen", :controller => "admin", :action => "logout" %>
					<% else %>
						<%= link_to "einloggen", :controller => "admin", :action => "login" %>
					<% end %>
				</div>
			</div>
		</div>
		
		<div id="container">

			<div id="left_column">
				
				<% if yield :sub_menu %>
				<div id="sub_menu">
					<div id="sub_menu_text">
						<h2 class="side_bar">Aktionen</h2>
						
						<ul class="none-list">
						<%= yield :sub_menu %>
						</ul>
					</div>
				</div>
				<% end %>	
				<div id="news">
					<div id="news_text">
						<%= render :partial => "root/side_bar" %>
					</div>
				</div>
				
			</div>
			
			<div id="right_column">
				<div id="content">
				<% if flash[:notice] %>
					<div id="notice"><%= flash[:notice] -%></div>
				<% end %>
				<%= yield %>
				</div>
				
				<div id="footer">
					<ul>
						<li>Mein Profil</li>
						<li>Saison</li>
						<li>Team</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</body>