<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="language" content="de">

<title><%= @title %></title>
<%= stylesheet_link_tag "screen" %>
<%= stylesheet_link_tag "header" %>
<%= stylesheet_link_tag "menu" %>
<%= stylesheet_link_tag "table" %>
<%= stylesheet_link_tag "gletscherspalter" %>
<%= stylesheet_link_tag "form" %>
<%= stylesheet_link_tag "autocompleter" %>

<%= yield(:javascripts) %>
<%= javascript_include_tag :all %>

</head>

<body>

<div id="wrapper">   

	<div id="header">

  	<%= image_tag("cam_ward.png", :id => "ward") %>
		
		<%= image_tag("/images/glen_wesley.png", :id => "wesley") %>
		
		<div id="title">
		<%= image_tag("/images/glet_title.png") %>
		</div>
   
	</div>
	
	<div>
		<ul id="menu">
			<li><%= link_to "Home" , root_path %></li>
			<li><%= link_to "News", news_index_path %></li>
			<% if logged_in? %>
				<li><%= link_to "Mein Profil", player_path(current_user.player) %>
			<% end %>
			<li><%= link_to "Team", players_path %></li>
			<li><%= link_to "Saison", games_path %></li>
			<% if logged_in? %>
			<li><%= link_to "Forum", topics_path %></li>
			<% end %>
			<li><%= link_to "Orte", :controller => "root", :action => "locations" %></li>
	    <li><%= link_to "Kontakt", :controller => "root", :action => "contact" %></li>

			<% if logged_in? && current_user.is_admin %>
	        <li onmouseover="$('admin_links').show()" onmousemove="$('admin_links').show()" onmouseout="$('admin_links').hide()"><%= link_to "Admin" %></li>
					<div id="admin_links" class="admin_menu" style="display: none;" onmouseover="$('admin_links').show();" onmousemove="$('admin_links').show()" onmouseout="$('admin_links').hide()">
						<ul>
							<li><%= link_to "Nachrichten", messages_path %></li>
							<li><%= link_to "Events", events_path %></li>
		        	<li><%= link_to "Benutzer", users_path %></li>
		        	<li><%= link_to "Austragungsorte", locations_path %></li>
						</ul>
					</div>
					<% end %>

	        <% if logged_in? %>
	            <li><%= link_to "Logout", :controller => "admin", :action => "logout" %></li>
	        <% else %>
			    <li><%= link_to "Login", :controller => "admin", :action => "login" %></li>
	        <% end %>
		</ul>
	</div>
	
	<div class="clear">
	</div>
	
	<div id="leftcolumn">
		<%= render :partial => "root/side_bar" %>
 	</div>

 	<div id="rightcolumn">
		<% if flash[:notice] -%>
			<div id="notice"><%= flash[:notice] %></div>
		<% end -%>
		<% if flash[:error] -%>
			<div id="error"><%= flash[:error] %></div>
		<% end %>
		<%= yield :layout %>
	</div>

</div> 
</body>
</html>
