<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
	<%= render :partial => "layouts/head" %>
</head>

<body onload="DynarchMenu.setup('header_main_menu', { shadows: false, electric: true });">
	
	<div id="wrapper">

		<div id="header">
			<%= image_tag("new_style/header_people.png") %>
			
			<div id="menu_container">
				<ul id="header_main_menu">
					<li class="first"><%= link_to "Home" , root_path %></li>
					<li><%= link_to "News", news_index_path %></li>
					<% if logged_in? %>
					<li><%= link_to "Mein Profil", player_path(current_user.player) %>
						<ul>
							<li><%= link_to "Termine Verwalten", events_player_path(current_user.player) %>
						</ul>
					</li>
					<% end %>
					<li><%= link_to "Team", players_path %>
						<ul>
                            <% if permitted_to? :read, :users %>
                            <li><%= link_to "Adressliste", users_path %></li>
                            <% else %>
                            <li><%= link_to "Mannschaft", players_path %></li>
                            <% end %>
							<% if permitted_to? :read, :topics %>
							<li><%= link_to "Forum", topics_path %></li>
							<% end %>
						</ul>
					</li>
					<li><%= link_to "Saison", games_path %>
						<ul>
							<li><%= link_to "Anlässe", events_path %></li>
							<li><%= link_to "Statistiken", statistics_season_path(current_season) %></li>
							<li><%= link_to "Austragungsorte", :controller => "root", :action => "locations" %></li>
						</ul>
					</li>
					<li><%= link_to "Galleries", :controller => "photos", :action => "index" %></li>
					<li><%= link_to "Kontakt", :controller => "root", :action => "contact" %>
						<ul>
							<li><%= link_to "Personen", :controller => "root", :action => "contact" %></li>
							<li><%= link_to "Gästebuch", guestnotes_path %></li>
						</ul>
					</li>
					<% if user_is_admin? %>
					<li><%= link_to "Admin" %>
						<ul>
							<li><%= link_to "Nachrichten", messages_path %></li>
		        	<li><%= link_to "Benutzer", users_path %></li>
		        	<li><%= link_to "Austragungsorte", locations_path %></li>
						</ul>
					</li>
					<% end %>
				</ul>
			</div>
			
			<div id="status_bar">
				<%= render :partial => "layouts/status_bar" %>
			</div>
			<div class="clear">
				
			</div>
		</div>
		
		<div id="container">

			<div id="left_column">
				
				<%= render :partial => "layouts/ie_warning" %>
				
				<% if yield :sub_menu %>
				<div id="sub_menu">
					<div id="sub_menu_text">
						<h2 class="side_bar">Aktionen</h2>
						<ul id="side_bar">
						<%= yield :sub_menu %>
						</ul>
					</div>
				</div>
				<% end %>	
				<div id="news">
					<div id="news_text">
						<%= render :partial => "root/side_bar" %>
					</div>
				</div>
				
			</div>
			
			<div id="right_column">
				<div id="content">
				<% if flash[:notice] %>
					<div id="notice"><%= flash[:notice] -%></div>
				<% end %>
				<%= yield %>
				</div>
			</div>
				<div class="clear"></div>
				<div style="padding: 10px; background: inherit;">
				<div id="footer">
					<%= render :partial => "layouts/footer" %>
				</div>
			</div>
		</div>
	</div>

    <% if RAILS_ENV == 'production' %>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-12062681-1");
                pageTracker._trackPageview();
            } catch (err) {}
        </script>
	<% end %>

</body>
</html>